.cv_icon {
  width: 8rem;
}

.productStyleList {
  display: block;
  max-width: 100%;
  height: auto;
}

.productStyleList ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0 20px;
}

.productStyleList li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}
