#header-style {
  display: flex;
  justify-content: space-around;
}

#header-style img {
  margin: auto 0;
  height: 30px;
  width: 9em;
}

#header-style h1 {
  font-size: 1rem;
  color: rgba(40,44,52,255);
}